In [ ]:
https://mitu.co.in/dataset
Download ---> Social_Network_Ads.csv

In [2]:
import os
os.getcwd()

'/home/mitu'

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('Social_Network_Ads.csv')
df

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [7]:
x = df[['Age','EstimatedSalary']]   # input data
y = df['Purchased']                 # output data

In [9]:
from sklearn.tree import DecisionTreeClassifier # class import

In [10]:
dt = DecisionTreeClassifier() # create the object

In [11]:
dt.fit(x, y)   # training the decision tree

DecisionTreeClassifier()

In [12]:
new = pd.DataFrame({
    'Age':[23,45,57],
    'EStimatedSalary': [56000, 76900, 134000]
})

In [13]:
new

   Age  EStimatedSalary
0   23            56000
1   45            76900
2   57           134000

In [ ]:
dt.predict(new)